name: CI
on: [ push ]

jobs:
  ci_master:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: setup-node@v1 repository
        uses: actions/setup-node@v1
        with:
          node-version: 14 
      # - name: Running Horusec Security
      #   run: |
      #    curl -fsSL https://horusec.io/bin/install.sh | bash
      #    horusec start -p="./" -e="true"
      - name: build and push to docker
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ github.repository }}
          tag_with_ref: true
          tag_with_sha: true
          tags: ${{ github.sha }}