name: CI
on: [ push ]

jobs:
  ci_master:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
      - uses: actions/checkout@v2
      - name: setup-node@v1 repository
      - uses: actions/setup-node@v1
        with:
          node-version: 14 
      - run: cd app && npm ci
